@model Gmoto.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Bezeichnung")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Preis")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetUnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName(" ")
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($@"<img width=""200"" src=""{Url.Content(Model.ImagePath)}""></a>")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Größen")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sizes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Beschreibung")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Hersteller")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Kategorie")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
