@model IEnumerable<Gmoto.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table id="productTable" class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Bezeichnung")
            </th>
            <th>
                @Html.DisplayName("Preis")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
            <th>
                @Html.DisplayName("Hersteller")
            </th>
            <th>
                @Html.DisplayName("Kategorie")
            </th>
            <th>
                @Html.DisplayName("Aktionen")
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.Sizes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetUnitPrice)
            </td>
            <td>
                @Html.Raw($@"<img width=""200"" src=""{Url.Content(item.ImagePath)}""></a>")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Sizes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@

            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (User.Identity.IsAuthenticated)
                {
                <a asp-controller="ShoppingCart" asp-action="AddProductToCart" asp-route-id="@item.Id">Warenkorb hinzufügen</a>
                }
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
        });
    </script>
}
